.header {
  height: 50px;
  background-color: #ff9a4b;
  margin-bottom: 50px;
}

.box-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.box {
  position: relative;
  width: 300px;
}

.box-inner {
  padding: 10px;
  background-color: #eeeeee;
}

.step {
  position: absolute;
  background-color: #ff9a4b;
  color: #fff;
  padding: 3px 0;
}

.img {
  height: 150px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 15px;
}

.img1 {
  background-image: url(./img/flow01.png);
}

.img2 {
  background-image: url(./img/flow02.png);
}

.img3 {
  background-image: url(./img/flow03.png);
}

.title {
  margin-bottom: 5px;
}

.txt {
  font-size: 16px;
}

.footer {
  background-color: #aaaaaa;
  height: 50px;
}

@media (max-width:768px) {
  .box-wrapper {
    display: block;
    width: 90%;
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
  }

  .box:last-child{
    margin-bottom: 50px;
  }
}